<html>
    <head>
        <title>Contacteaza-ma</title>
    </head>
    <body>
        {% extends "header.html" %}
        
        {% block content %}
        <form method="POST">
            <div class="form-group">
              <label for="exampleInputName1">Nume</label>
              <input name = "nume" type="nume" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="Introdu numele">
              <small id="nameHelp" class="form-text text-muted">Numele tau va ramane confidential</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input name = "email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Introdu mail-ul">
                <small id="emailHelp" class="form-text text-muted">Mail-ul tau va ramane confidential</small>
              </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Mesajul tau</label>
                <textarea name = "text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Trimite</button>
          </form>
        {% endblock %}
    </body>

</html>